.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}
.item {
    padding: 10px;
    justify-content: space-between;
}
.container-flex{
    display: flex; 
}
.copy-text{
    width: 100%;
    height: 25px;
}